body {
    background-color: #EFF5F5;
    font-family: 'Russo One', sans-serif;

    color: #363062;
    text-align: center;
}

/* h1 {
    color: "#344D67"
} */
.main-game-view {
    display: flex;
}

table {
    border: 1px solid #344D67;
    margin: 0 auto;
}

.cell {
    width: 40px;
    height: 40px;
}

.cell img {
    width: 25px;
    height: auto;
}

.floor {
    background-color: #B6E2A1;
}

.wall {
    background-color: brown;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    /* align-items: center; */
    /* text-align: center; */
}

article>* {
    padding: 30px 60px 30px 20px;
    font-size: large;
}

button {
    background-color: #363062;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 40px;
    border: none;
    font-family: 'Russo One', sans-serif;

    font-size: 1.5em;
    color: #EFF5F5;
}

button:hover {
    background-color: #344D67;
    cursor: pointer;
}